<div id="navigation" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="item"><a href="<%= path '' %>/howler">Howler</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="<%= path 'queues' %>">Queues</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="<%= path 'notifications' %>">Notifications</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="<%= path 'statistics' %>">Statistics</a></li>
          <li class="divider-vertical"></li>
          <li class="item"><a href="<%= path 'settings' %>">Settings</a></li>
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
  </div>
</div>
